@font-face {
  font-family: "CaviarDreams";
  src: url('/resources/Fonts/CaviarDreams.ttf') format("truetype");
}
@font-face {
  font-family: "CaviarDreamsBold";
  src: url('/resources/Fonts/Caviar Dreams Bold.ttf') format("truetype");
}

* {
  font-family: "CaviarDreams", Verdana, sans-serif;
}

.bold{
  font-family: "CaviarDreamsBold", Verdana, sans-serif;
}

div.page-home {
  background-image: url('/resources/Images/home.jpeg');
}

div.page-about {
  background-image: url('/resources/Images/about.jpg');
}

div.page-blog {
  background-image: url('/resources/Images/blog.jpeg');
}

div.page-contact {
  background-image: url('/resources/Images/contact.jpg');
}

div.page-portfolio {
  background-image: url('/resources/Images/portfolio.jpeg');
}

div.page-resume {
  background-image: url('/resources/Images/resume.jpg');
}

div.page-timeline {
  background-image: url('/resources/Images/timeline.jpg');
}

div.page-cprvr {
  background-image: url('/resources/Images/CPRVR1.jpg');
}

div.page-fihgt {
  background-image: url('/resources/Images/fihgt1.jpg');
}

div.page-popmidi {
  background-image: url('/resources/Images/popmidi1.jpg');
}

div.page-stux {
  background-image: url('/resources/Images/stux1.png');
}

div.page-laserfield {
  background-image: url('/resources/Images/laserfield1.png');
}

div.page-scoutingcompiler {
  background-image: url('/resources/Images/scoutingcompiler1.jpg');
}


div.page-placeholder {
  background-color: rgb(60, 60, 100);
}

div.section-grey {
  background-color: rgb(60,60,60);
  color: #000000;
}
div.section-white {
  background-color: rgb(255,255,255);
  color: #000000;
}
div.section-darkgrey {
  background-color: rgb(25,25,25);
  color: #c1c1c1;
}
div.section-darkblue {
  background-color: rgb(0,0,30);
  color: #c1c1c1;
}
div.section-transparent {
  background-color: rgba(0,0,0,0);
  color: #000000;
}
div.section-black {
  background-color: rgba(0,0,0,1);
  color: #c1c1c1;
}
div.section-blue {
  background-color: rgb(30,30,60);
  color: #c1c1c1;
}
div.section-darkred {
  background-color: rgb(30,0,0);
  color: #c1c1c1;
}
div.section-darkgreen {
  background-color: rgb(0,30,0);
  color: #c1c1c1;
}
