@font-face {
  font-family: "CaviarDreams";
  src: url('/resources/Fonts/CaviarDreams.ttf') format("truetype");
}
@font-face {
  font-family: "CaviarDreamsBold";
  src: url('/resources/Fonts/Caviar Dreams Bold.ttf') format("truetype");
}

* {
  font-family: "CaviarDreams", Verdana, sans-serif;
}

.bold{
  font-family: "CaviarDreamsBold", Verdana, sans-serif;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

nav a {
  font-size: 20px;
}
nav .navbar-brand {
  font-size: 20px;
}
nav {
  padding: 5px;
}

nav.navbar-inverse .navbar-nav>li>a {
  color: #c1c1c1;
}
nav.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
