@font-face {
  font-family: "CaviarDreams";
  src: url('/resources/Fonts/CaviarDreams.ttf') format("truetype");
}
@font-face {
  font-family: "CaviarDreamsBold";
  src: url('/resources/Fonts/Caviar Dreams Bold.ttf') format("truetype");
}

* {
  font-family: "CaviarDreams", Verdana, sans-serif;
}

nav a {
  font-size: 40px
}
