@font-face {
  font-family: "CaviarDreams";
  src: url('/resources/Fonts/CaviarDreams.ttf') format("truetype");
}
@font-face {
  font-family: "CaviarDreamsBold";
  src: url('/resources/Fonts/Caviar Dreams Bold.ttf') format("truetype");
}

* {
  font-family: "CaviarDreams", Verdana, sans-serif;
}

nav a {
  font-size: 22px;
}
nav .navbar-brand {
  font-size: 22px;
}
nav {
  padding: 5px;
}

nav.navbar-inverse .navbar-nav>li>a {
  color: #c1c1c1;
}
nav.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
