## Error 404 webpage

ErrorDocument 404 /404.php

## Turn mod_rewrite on

RewriteEngine On
RewriteBase /

## Remove .php extension

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [L]

# Redirects domain.com/file.php to domain.com/file
RewriteCond %{REQUEST_FILENAME} !-d          # is not directory
RewriteCond %{REQUEST_FILENAME}\.php -f      # is an existing php file
RewriteCond %{REQUEST_URI} ^(.+)\.php$       # request URI ends with .php
RewriteRule (.*)\.php$ /$1 [R=301,L]         # redirect from index.php to index
