## Error 404 webpage

ErrorDocument 404 /404.php

## Turn mod_rewrite on

RewriteEngine On
RewriteBase /

## Remove .php extension

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [L]
